
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    
    <div> 
        <form action="" method="post" enctype="multipart/form-data">
            <label for="file">FileName</label>
            <input type="file" name="" id="file" />
            <input type="submit" value="Gönder"/>
            
        </form>
    </div>
</body>
</html>
